body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #9b4da6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

main {
    padding: 80px 20px 20px 20px;
}

.admin-section {
    margin-bottom: 40px;
}

.admin-section h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form select, form textarea, form button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    background-color: #9b4da6;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #7b387e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* Слой на переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку при необходимости */
    background-color: rgb(0, 0, 0); /* Цвет фона */
    background-color: rgba(0, 0, 0, 0.4); /* Прозрачный черный цвет фона */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% от верхнего и нижнего края и центрировано */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина 80% */
    max-width: 500px; /* Максимальная ширина */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input,
.modal-content select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.modal-content button {
    background-color: #9b4da6;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #7b387e;
}