/* basket.css */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.basket-modal-content {
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    height: calc(100% - 60px); /* Минус высота хедера */
    position: fixed;
    right: 0;
    top: 60px; /* Под хедером */
    display: flex;
    flex-direction: column;
}

#close-basket-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-basket-modal:hover,
#close-basket-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#basket-items {
    flex: 1;
    margin-top: 20px;
    overflow-y: auto;
}

#basket-items .basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#basket-items .basket-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#empty-basket-message {
    text-align: center;
    margin-top: 50px;
}

#empty-basket-message img {
    width: 100px;
    height: 100px;
}

#empty-basket-message p {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
}

#checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9b4da6;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: 20px; /* Поднимаем кнопку над нижней панелью */
}

#checkout-button:hover {
    background-color: #7b387e;
}

.hidden {
    display: none;
}
