body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

header {
    background-color: #9b4da6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
}

header nav img {
    width: 32px;
    height: 32px;
}

main {
    padding: 80px 20px 20px 20px;
    flex: 1;
}

.slideshow {
    position: relative;
    max-width: 100%;
    margin: 40px auto;
    overflow: hidden;
    height: 300px; /* Задаем фиксированную высоту слайда */
}

.slide {
    display: none;
    position: relative;
    height: 100%; /* Высота слайда равна высоте контейнера */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Сохраняем пропорции изображения */
    border-radius: 10px;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

aside.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar .filter {
    margin-bottom: 20px;
}

.sidebar .filter label {
    display: block;
    margin-bottom: 5px;
}

.sidebar .filter input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#smart-home {
    padding: 50px 0;
    text-align: center;
    color: #9b4da6;
}

#smart-home h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    max-width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.feature-item img {
    width: 70%; /* Измените размер в соответствии с вашими потребностями */
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1em;
    color: #666;
}
