/* Стили для страницы пользователя */
.user-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.user-info h1, .user-info h2 {
    text-align: center;
}

.user-info p {
    margin-bottom: 10px;
}

.user-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.user-info input[type="password"],
.user-info input[type="text"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info button {
    width: 100%;
    padding: 10px;
    background-color: #9b4da6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-info button:hover {
    background-color: #7b387e;
}

#view-mode {
    display: flex;
    flex-direction: column;
}

#edit-mode {
    display: none;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.order-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-card p {
    margin: 0;
    font-size: 16px;
}

.order-card h3 {
    margin: 0;
    font-size: 18px;
}

.order-card .qr-button {
    background: url('/img/scan.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

/* Изменение изображения при наведении */
.order-card .qr-button:hover {
    background: url('/img/scanHover.png') no-repeat center center;
    background-size: contain;
    background-color: #9b4da6;
    transition: background-color 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
